body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}




.button-save,
.button-delete {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-save:hover,
.button-delete:hover {
    background-color: #0056b3;
}

.centered-content {
    text-align: center;
}

.centered-heading {
    text-align: center;
    margin-bottom: 20px;
}

.centered-image {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.centered-image img {
    display: block;
    max-width: 100%;
}

.centered-text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    z-index: 2; 
}
